EVERMEM_API_KEY=your_evermind_api_key
# Only define the following variables if you would like to override auto detected Github username and Project name.
# USER_ID=my_local_user
# GROUP_ID=my_project_group